<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935226812950-3gna5a19acmonopsji41512rl2vlo28a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935226812950-3gna5a19acmonopsji41512rl2vlo28a</string>
	<key>API_KEY</key>
	<string>AIzaSyDaoZ1U2BdSBjpwsR7mv00rTr3GJKFTrtg</string>
	<key>GCM_SENDER_ID</key>
	<string>935226812950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>geekTech.Homework2-M5</string>
	<key>PROJECT_ID</key>
	<string>cocktails-app-ab39b</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktails-app-ab39b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935226812950:ios:45d88a3d7c769d9a45a337</string>
</dict>
</plist>